<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>
<body style="background-color:gainsboro;">

<h1 class="bg-secondary" style="color:white; text-align: center;">TRABAJO PRACTICO N° 2 - SABRINA VALANSI - 2 1 F</h1>


<div class="container-fluid mt-3 " id="app">
    <input type="text" class="form-control" style="background-color:whitesmoke;" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <input type="text" class="form-control" style="background-color:lightyellow;" v-model="criterioDeBusqueda1"
        placeholder="Ingresar un nombre o apellido a buscar...">
    <br>
    <input type="number" class="form-control" style="background-color:beige" v-model="criterioDeBusqueda2"
        placeholder="Ingresar un DNI a buscar...">
    <br><br>
    <div class="card-deck m-4" v-if="validarDatos()">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3" style="width: 265px; height: 150px;">
                    <div class="card-body mb-3" >
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <p class="alert alert-warning">Debes ingresar por lo menos 3 caracteres</p>
    </div>
</div>


</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusqueda1: '',
            criterioDeBusqueda2: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Sabrina",
                    apellido: "Valansi",
                    correo: "sabrivalan@hotmail.com",
                    dni: "29950487"
                },
                {
                    nombre: "Julieta",
                    apellido: "Barrio",
                    correo: "julibarrio@gmail.com",
                    dni: "20584930"
                },
                {
                    nombre: "Julieta2",
                    apellido: "Barrio",
                    correo: "julibarrio@gmail.com",
                    dni: "29940215"
                },
               
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`

                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase()) && `${persona.nombre} ${persona.apellido}`.toLowerCase().includes(this.criterioDeBusqueda1.toLowerCase()) && `${persona.dni}`.toLowerCase().includes(this.criterioDeBusqueda2.toLowerCase())  
                });
            },
            
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },

            validarDatos(){
            let datos = true;
            let i=this.validarCaracteres();
            if(i==1){
                datos=false;
            }
            return datos;
            },

            validarCaracteres(){
                let i = 0;
                let busq=this.criterioDeBusqueda.length;
                let busq1 =this.criterioDeBusqueda1.length;
                let busq2= this.criterioDeBusqueda2.length;
                if(busq>2 || busq1>2 || busq2>2 ){
                    i=0;
                }
                else if((busq>0 && busq <3) || (busq1>0 && busq1 <3) || (busq2>0 && busq2 <3) ){
                    i=1;
                }
               
                return i;
            }
        }
    });
</script>
</body>